{% if races %}
    <ul>
    {% for race in races %}
    <li>{{ race.date|date:"g:i A" }} - {{ race.name }}</li> 
        <ul>
            <li>distance: {{ race.distance }} yards</li>
            <li>going: {{ race.going }}</li>
            <li>runners: {{ race.runners }}</li>
            <ul>
            {% for horse in race.horses.all %}
            <li>{{ horse.number }} - {{ horse.name|lower|capfirst }} - odds:{{ horse.forecast }}- ran:{{ horse.last_run }}</li>
            {% endfor %}
            </ul>
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No qualifiers for this system today.</p>
{% endif %}
